@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Lato:400,300');
html
	margin 0
body 
	background-color #ecf5f5
	color #303030
	margin 0
	padding 0
	font-family: 'Lato', sans-serif;	
h2
	font-size 1.7em
	font-weight 400
h3
	font-size 1.6em
	font-weight 400
.nav
	color #ecf5f5
	background-color #303030
	position: fixed
	height: 60px
	top 0
	right 0
	left 0
	display flex
	flex-direction row
	justify-content center
	align-items center
	box-shadow 2px 0 3px #303030
	&-lista
		width 680px
		list-style: none
		padding 0
		margin 0
		display flex
		justify-content flex-end
	&-item
		font-size 1.3em
		margin auto .7em
	&-linkItem
		color #ecf5f5
		text-decoration: none
	&-getcyan
		margin 0
		padding 0
		width 340px
		font-size 2em
		text-align left
	
.header
	height 470px
	padding-top 80px
	background-color #ecf5f5
	color #303030
	display flex
	flex-direction column
	justify-content center
	
	&-front
		display flex
		justify-content center
		align-items center
		margin 35px 0
		&-left
			flex 0 0 auto
			margin 0 40px
		&-logo
			flex 0 0 auto
			margin 0 40px
		&-right
			flex 0 0 160px
			margin 0 40px
			text-align center
			font-weight 400
			&-button
				background-color #007e98
				border 0
				color #ecf5f5
				font-family: 'Lato', sans-serif;
				padding .5em
				font-size 1.4em
				border-radius 3px
				cursor: pointer

	&-slogan
		margin 45px 0
		text-align center
		font-weight: 300
		font-size 2.7em
.services
	text-align center
	height 280px
	background-color #029792
	display flex
	flex-direction row
	justify-content center
	&-item
		width:  300px
		background-color #ecf5f5
		margin 20px
		border-radius: 3px
		box-shadow: 2px 2px 4px #606060
		font-weight 400
.jobs
	height 280px
	background-color #007e98
	&-lista
		text-align center
		height 100%
		display flex
		flex-direction row
		justify-content center
		margin 0
		list-style none
		padding 0
	&-item
		width: 300px
		background-color #ecf5f5
		margin 20px
		border-radius: 3px
		box-shadow: 2px 2px 4px #606060
		&-label
			padding .3em
			background-color rgba(gray, .8)
			position relative
			bottom 0px
	&-item:nth-child(1)
		background-image: url(/static/img/entrevistarte-screenshot.jpg)
		background-size: cover
.contact
	height 560px
	background-color #ecf5f5
	display flex
	flex-direction row
	justify-content center
	align-items center
	&-formulario
		width 510px
		&-label
			font-size 1.3em
			margin .3em
			font-weight 400
		&-input
			width 100%
			background-color white
			border 1px solid #DEE6E6
			border-radius 2px
			font-size 1.1em
			padding 5px
			margin .3em auto
			resize none
		&-item
			margin 5px 50px
	&-redes
		width 510px
		height 30px
		
.footer
	height 60px
	background-color #303030
	