<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title GetCyan | GetCyan
		link(href='/static/css/app.css', rel='stylesheet')
	body
		nav.nav
			span.nav-getcyan: a(href="#header").nav-linkItem GetCyan
			ul.nav-lista
				li.nav-item: a(href="#services").nav-linkItem Servicios
				li.nav-item: a(href="#jobs").nav-linkItem Nuestros trabajos
				li.nav-item: a(href="#blog").nav-linkItem Blog
				li.nav-item: a(href="#contact").nav-linkItem Contacto
		header.header#header
			div.header-front
				div.header-front-left
					img(src="/static/img/responsive.png")
				div.header-front-logo
					img(src="/static/img/logo.png")
				div.header-front-right
					h3 Desarrollo de aplicaciones y sistemas web.
					input.header-front-right-button(type="button" url="#contact" value="Contacto")
			h2.header-slogan "Disfrutamos nuestro arte, amamos la tecnologia"
		section.services#services
			div.services-item
				h2 Diseño
				p
			div.services-item
				h2 Desarrollo
			div.services-item
				h2 Soporte
		section.jobs#jobs
			ul.jobs-lista
				li.jobs-item: h2.jobs-item-label Entrevistarte.com
				li.jobs-item: h2.jobs-item-label  
				li.jobs-item: h2.jobs-item-label
		section.contact#contact
			form.contact-formulario
				div.contact-formulario-item
					h4.contact-formulario-label Nombre completo
					input.contact-formulario-input(type="text")
				div.contact-formulario-item
					h4.contact-formulario-label Correo electronico
					input.contact-formulario-input(type="text")
				div.contact-formulario-item
					h4.contact-formulario-label Telefono
					input.contact-formulario-input(type="text")
				div.contact-formulario-item
					h4.contact-formulario-label Consulta
					textarea.contact-formulario-input(rows="8")
				div.contact-formulario-item
					input.header-front-right-button(type="button" value="Enviar")
			div.contact-redes
				h2 Nuestras redes sociales
				

		footer.footer